html {
    background-color: #EEEEEE;
}
body {
    background-color: #FFFFFF;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25em;
    margin: auto;
    max-width: 828px;
    padding: 12px;
}
h1 {
    font-size: 4em;
    font-weight: 100;
    line-height: 1em;
    margin: 0 0 0.75em;
    padding: 24px 0 0 12px;
}
footer {
    color: #333333;
    font-size: 0.6em;
    margin-top: 5em;
}
div.gallery {
    overflow: auto;
    padding-top: 24px;
}
hr {
    width: 80%;
    color: #eee;
    background-color: #ddd;
}
p {
    padding: 0 36px 0 36px;
}

div.thumb {
    float: left;
    width: 240px;
    margin: 12px;
    margin-bottom: 24px;
    background: #eee;
    padding: 6px;
}

div.thumb img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.thumb p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    display: block;
    padding: 0;
}

div.thumb a {
    color: #000;
    text-decoration: none;
}
